.main {
  width: 100%;
}

/* NAV CENTER STYLES */
.main > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  position: relative;
}

/* OPEN NAV ICON */
.main > div > span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--purpleBlue);
  color: var(--mainWhite);
  padding: 5px 7px;
  border-radius: 5px;
  margin-right: 20px;
  cursor: pointer;
}

/* LOGO STYLES */
.main > div > a {
  text-decoration: none;
}

.main > div > a > h2 {
  color: var(--dullRed);
}

.main > div > a > h2 > span {
  color: var(--purpleBlue);
}

/* NAV ITEMS CONTAINER */
.main > div > nav {
  position: fixed;
  left: -300px;
  top: 0;
  background-color: var(--purpleBlue);
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  transition: var(--midTransition);
  z-index: 20;
}

.main > div > nav.open {
  left: 0;
}

.main > div > nav.dark {
  background-color: var(--darkPurpleBlue);
}

/* LOGO INSIDE MOBILE NAV */
.main > div > nav > a {
  text-decoration: none;
  width: 100%;
  background-color: var(--mainWhite);
  padding: 10px;
}

.main > div > nav.dark > a {
  background-color: var(--mainBlack);
}

.main > div > nav > a > h2 {
  color: var(--dullRed);
}

.main > div > nav > a > h2 > span {
  color: var(--purpleBlue);
}

/* CONTAINER HOLDING NAV LINKS */
.main > div > nav > article {
  display: flex;
  flex-direction: column;
}

/* NAV LINKS */
.main > div > nav > article > a {
  text-decoration: none;
  line-height: 60px;
  width: 100%;
  padding-left: 15px;
  color: var(--mainWhite);
  transition: var(--midTransition);
}

.main > div > nav > article > a:hover {
  padding-left: 25px;
  background-color: var(--mainWhite);
  color: var(--purpleBlue);
}

/* CLOSE NAV ICON */
.main > div > nav > span {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--dullRed);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 20;
}

.main > div > nav.dark > span {
  background-color: var(--darkDullRed);
  color: var(--mainWhite);
}

.main > div > div {
  /* background-color: yellow; */
  width: fit-content;
  position: absolute;
  right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* TOGGLE DARK MODE */
.main > div > div > article {
  width: 30px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid var(--purpleBlue);
  border-radius: 50%;
  transition: var(--midTransition);
  z-index: 30;
}

.main > div > div > div {
  margin-left: 10px;
}

.main > div > div > div > span {
  width: 35px;
  aspect-ratio: 1;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid var(--purpleBlue);
  cursor: pointer;
}

.main > div > div > article.dark {
  color: var(--mainWhite);
  transform: rotate(180deg);
}

.main > div > div > article.light {
  color: var(--mainBlack);
}

.main > div > div > div.dark > span {
  color: var(--purpleBlue);
}

/* USER MENU */
.main > div > div > aside {
  position: absolute;
  top: 40px;
  background-color: var(--mainWhite);
  z-index: 40;
  width: 200px;
  box-shadow: 1px 1px 7px var(--darkPurpleBlue);
}

.main > div > div > aside > a {
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  line-height: 40px;
  padding-left: 15px;
  text-decoration: none;
  color: var(--purpleBlue);
}

.main > div > div > aside > button {
  display: flex;
  align-items: center;
  line-height: 40px;
  padding-left: 15px;
  color: var(--purpleBlue);
  border: none;
  width: 100%;
  background: none;
  cursor: pointer;
}

.main > div > div > aside > a:hover {
  color: var(--mainWhite);
  background-color: var(--purpleBlue);
}

.main > div > div > aside > button:hover {
  color: var(--mainWhite);
  background-color: var(--purpleBlue);
}

/* .main > div > div > aside > hr {
  border: 0.5px solid var(--darkPurpleBlue);
} */

.main > div > div > aside > a > span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.main > div > div > aside > button > span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.main > div > div > aside.dark {
  background-color: var(--darkPurpleBlue);
}

.main > div > div > aside.dark > a {
  color: var(--mainWhite);
}

.main > div > div > aside.dark > button {
  color: var(--mainWhite);
}

/* DESKTOP STYLES */
@media screen and (min-width: 700px) {
  .main > div {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .main > div > span {
    display: none;
  }

  .main > div > nav {
    position: unset;
    height: unset;
    width: unset;
    flex-direction: row;
    background: none;
  }

  .main > div > nav.dark {
    background-color: unset;
  }

  .main > div > nav > a {
    display: none;
  }

  .main > div > nav > article {
    flex-direction: row;
    margin-right: 100px;
  }

  .main > div > nav > span {
    display: none;
  }

  .main > div > nav > article > a {
    width: unset;
    margin-left: 30px;
    color: var(--purpleBlue);
    font-weight: 600;
    padding: 0;
  }

  .main > div > nav.dark > article > a {
    color: var(--greyishWhite);
  }

  .main > div > nav > article > a:hover {
    padding-left: 0;
    background-color: var(--mainWhite);
    color: var(--purpleBlue);
    text-decoration: underline;
  }
}
