@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* scrollbar-width: 0; */
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--purpleBlue);
}

:root {
  --purpleBlue: #6446ff;
  --dullRed: #e63264;
  --mainBlack: #000;
  --darkPurpleBlue: #140c38;
  --darkDullRed: #5f0d24;
  --ashBlack: #2b2a2e;
  --mainWhite: #fff;
  --greyishWhite: #d4d4d4;
  --midTransition: all 300ms ease;
}

.main {
  min-height: 100vh;
  overflow-x: hidden;
  padding-top: 50px;
  /* scrollbar-width: 0; */
}

main.light {
  background-color: var(--mainWhite);
}

main.dark {
  background-color: var(--mainBlack);
}

.loading {
  margin: auto;
}
